body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.logo-link{
    background-color: orangered;
}

nav {
    position: fixed;
    width: 100%;
}

.list-item-big-screen {
    display: none
}

.tnw-logo{
    height: 48px;
    width: 106px;
    background-image: url(assets/images/tnw.svg);
    background-repeat: no-repeat;
    background-size: 66px 16px;
    background-position: center;
}

.header-buttons {
    border: 1px solid lightgray;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-buttons-container {
    display: flex;
}

.header-buttons-container :first-child {
    border-right: none;
}

.header-div-2 {
    display: flex;
    align-content: center;
    justify-content: space-between;
    
}

.fa-search {
    color: lightgray;
    font-size: 17px;
    
}

.fa-bars {
    color: orangered;
    
}

.header-alert-div {
    background-color:#ffdd34 ;
    text-align: center;
    display: flex;
    height: 58px;
    align-items: center;
    justify-content: center;
}

.header-alert-div a {
    color: black;
    font-size: 14px;
    font-weight: 200;
}

.black-nav,
.top-menu {
    display: none;
}

@media (min-width:768px) {

    a {
        color: #afafaf;
    }

    .bar-container {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .black-nav {
        display: flex;
        height: 32px;
        background-color: black;
        color: #afafaf;
        justify-content: space-between;
        font-size: 14px;
    }

    .fa-search {
        color: #afafaf;
        font-size: 17px;
    }

    .top-menu {
        color: #afafaf;
        display: flex;
        height: 48px;
        background-color: #fefefe;
    }

    .header-buttons-container {
        display: none;
    }

    .tnw-logo{
        height: 80px;
    }

    .upper-links {
        display: flex;
        flex-basis: 100%;
        list-style: none;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .upper-links-left {
        padding-left: 20px;

    }

    .upper-links-left #white-link {
        color:white;
    }

    .upper-links-left li {
        flex-basis:0.6;
    }

    .upper-links-left :last-child {
        flex:1;
    }

    .upper-links-right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
    }

    .upper-links-right li {
        margin-left: 15px;
    }

    .black-nav a:hover {
        color: white;
    }
    
    .list-item {
        margin-right: 15px;
    }

    .top-menu .list-item a:hover {
        color: black;
    }

    .search-box {
        border-left: 1px solid lightgray;
        justify-self: flex-end;
        align-self: center;
        width: 60px;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seach-box i {
        display: block;
       
    }

    .header-alert-div {
        height: 30px;
        justify-content: flex-start;
    }

    .header-alert-div a {
        margin-left: 130px;
    }
}

@media(min-width: 1024px) {
   .logo-link {
       display: none;
   }

   .header-alert-div a {
        margin-left: 20px;
   }

   .upper-links {
       padding-left: 20px;
   }

   .list-item-big-screen {
    display: block;
}
}